@charset "utf-8";

/* --------------------------------------------------------------
  page styles
-------------------------------------------------------------- */

.for-ie-suckers {
	padding: 20px;
	text-align: center;
	background-color: #fcf8e3;
	color: #a94442;
}
